flows.json
[{"id":"402e4799.5a1e98","type":"tab","label":"冷蔵庫IoTサンプル","disabled":false,"info":""},{"id":"eb912692.7adf98","type":"inject","z":"402e4799.5a1e98","name":"1秒間間隔で実行","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":100,"wires":[["4f9f865b.3c7b38"]]},{"id":"e1530764.73eed8","type":"pushbullet","z":"402e4799.5a1e98","config":"73263140.80bc2","pushtype":"note","title":"冷蔵庫IoT","chan":"","name":"","x":1000,"y":100,"wires":[]},{"id":"4f9f865b.3c7b38","type":"gyroscope","z":"402e4799.5a1e98","name":"","x":410,"y":200,"wires":[["f492040.c3efc","5ea666e4.c817c8"]]},{"id":"f492040.c3efc","type":"switch","z":"402e4799.5a1e98","name":"","property":"payload.x","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"lt","v":"-1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":220,"wires":[["b403e46a.cd41f8"],["ca633c8c.e7f5a"],[]]},{"id":"4814b476.6e4ebc","type":"debug","z":"402e4799.5a1e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":180,"wires":[]},{"id":"b403e46a.cd41f8","type":"change","z":"402e4799.5a1e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"開きました","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[["4814b476.6e4ebc","e1530764.73eed8"]]},{"id":"ca633c8c.e7f5a","type":"change","z":"402e4799.5a1e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"閉じました","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["1ad69e90.e22941","e1530764.73eed8"]]},{"id":"1ad69e90.e22941","type":"debug","z":"402e4799.5a1e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":240,"wires":[]},{"id":"d3b22aae.8405f8","type":"inject","z":"402e4799.5a1e98","name":"テスト送信","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":100,"wires":[["b403e46a.cd41f8"]]},{"id":"5ea666e4.c817c8","type":"debug","z":"402e4799.5a1e98","name":"ジャイロ値をデバッグ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":280,"wires":[]},{"id":"73263140.80bc2","type":"pushbullet-config","z":"","name":""}]